*{
    margin: 0;
    padding: 0;
}

.Nav{
    display: flex;
    align-items: center;
    background: gray;
    width: 100%;
    height: 5rem;
}
.Nav h1{
    padding: 10px;
}
body{
    width: 100%;
    height: 100%;
    background: rgb(124, 80, 124);
}
.MainCount{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 100%;
    box-shadow: 10px 10px 7px black;
}
.QuizTable{
    width: 100%;
    height: 100%;
    min-height: 600px;
background-color: white;
}
.QuizTitle{
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.QuizTitleText{
    padding: 20px;
text-align: center;
font-size: 25px;
}
.QuizDifficult{
   font-size: 20px;
}
.Quiztype{
    font-size: 20px;
}
.Questions{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.Answer{
    margin: 10px;
   width: 90%;
   height: 100%;
   min-height: 60px;
   border: 2px solid palevioletred;
   background-color: white;
}
.Questions button:hover{
    background-color: gray;
}
.DivCheckAndTry{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    min-height: 80px;
    
    
}
.DivCheckAndTry button{
width: 40%;
min-height: 40px;
}
.Answer{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.selected{
    border: 2px solid purple;
    background-color: rgb(179, 2, 179);
}
.CorrectAsnwer{
    font-size: 500px;
    color: black;
  position: absolute;
}
.QuizTitleTitleText{
    font-size: 45px;
}
.countent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.ResultsTextCorrect{
    padding-left: 5%;
    color: green;
    font-size: 20px;
}
.ResultsTextIncorrect{
    padding-left: 5%;
    color: red;
    font-size: 20px;
}
.QuestionCorrect{
    padding-left: 5%;
    padding-top: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
}
.SelectionOptionAtencion{
    padding-left: 5%;
    color: red;
    font-size: 20px;
}
#Btnretry{
    display: none;
}