@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: #3D3A4B;
    --main-color: #D3C0CD;
    --second-color: #E3DFFF;
    --Quizmain-color: #660066;
    --Quizsecond-color: #d580ff;
    --QuizHouver-color: #eabfff;
}

.Nav {
    display: flex;
    align-items: center;
    background: var(--nav-color);
    width: 100%;
    height: 100%;
    min-height: 5rem;
}

.Logo {
    align-items: center;
    width: 20%;
    min-width: 280px;
    padding: 15px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;

}

.Logo img {
    width: 100%;

}

.Nav h1 {
    padding: 10px;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--second-color);
    padding-bottom: 58px;
    min-height: 100vh;
}

.MainCount {
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 80%;
    height: 100%;
}

.QuizStart {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

input[type=radio] {
    visibility: hidden;
    position: absolute;
}

label {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

input[type=radio]+label:before {
    transition: 500ms ease;
    height: 15px;
    width: 15px;
    margin-right: 2px;
    content: " ";
    display: inline-block;
    vertical-align: baseline;
    border: 1px solid #777;
    border-radius: 15px;
}

input[type=radio]:checked+label:before {
    background: var(--Quizmain-color);
    border: 1px solid var(--Quizsecond-color);
}

label:hover::before {
    background: var(--Quizmain-color);
    border: 1px solid var(--Quizsecond-color);
}

#Start {
    margin-top: 50px;
    border-radius: 15px;
    transition: 500ms ease;
    width: 100%;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    min-height: 80px;
    border: 2px solid var(--Quizmain-color);
    background-color: var(--QuizHouver-color);
    color: var(--Quizmain-color);
}

#Start:hover {
    background-color: var(--Quizmain-color);
    color: white;
}

.DivStart {
    width: 100%;
}

.DivChose {
    padding: 10px;
}

.DivChose label {
    padding-left: 10px;
}

.ChosesOfDifficult {
    width: 100%;
}

.QuizTable {
    display: none;
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.Rules {
    font-family: 'Poppins', sans-serif;
}

.Rules h1 {
    font-size: 50px;
    font-weight: 700;
}

.Rules h3 {
    font-size: 30px;
    font-weight: 700;
}

.Rules p {
    font-size: 20px;
    font-weight: 500;
}

.QuizTitle {
    width: 100%;
    height: 100%;
    min-height: 100px;

}

.QuizTitleText {
    padding: 20px;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
}

.QuizDifficult {
    font-size: 22px;
    font-weight: 500;
}

.Quiztype {
    font-size: 22px;
    font-weight: 500;
}
.QuizInformationDiv{
    max-width: 350px;
}

.Questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#selected {
    border: 2px solid var(--Quizsecond-color);
    background-color: var(--QuizHouver-color);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.Answer {
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    width: 90%;
    height: 100%;
    min-height: 60px;
    border: 2px solid var(--Quizmain-color);
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 500ms ease;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.Answer:hover {
    border: 2px solid var(--Quizsecond-color);
    background-color: var(--QuizHouver-color);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.DivCheckAndTry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

}

.QuizTitleTitleText {
    font-size: 60px;
}

.countent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}

#Results {
    width: 100%;
    height: 100%;
    min-height: 30px;
}

.ResultsTextCorrect {
    padding-top: 5px;
    padding-left: 5%;
    color: green;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.ResultsTextIncorrect {
    padding-top: 5px;
    padding-left: 5%;
    color: red;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.QuestionCorrect {
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: var(--Quizmain-color);
}

.SelectionOptionAtencion {
    padding-top: 5px;
    padding-left: 5%;
    color: red;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#BtnBackToMenu {
    display: none;
}

#Btnretry {
    display: none;
}

.ButtonHover {
    border: 2px solid var(--Quizmain-color);
    background-color: var(--QuizHouver-color);
    color: var(--Quizmain-color);
    transition: 500ms ease;
    width: 40%;
    min-height: 80px;
    border-radius: 15px;
    font-size: 28px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.ButtonHover:hover {
    background-color: var(--Quizmain-color);
    color: white;
}

.Points {
    margin-top: 20px;
    display: flex;
    text-align: center;
    width: 100%;
    gap: 10px;
}

.ScorePoints {
    flex: 1;
    align-self: stretch;
    border-radius: 15px;
    border: 2px solid var(--Quizsecond-color);
    background: var(--QuizHouver-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.Footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 4rem;
    background: var(--nav-color);
    margin-top: 80px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.FooterDivs {
    padding-right: 15px;
    padding-top: 15px;
}

.FooterDivs a {
    padding-left: 10px;
}

.Icon {
    transition: 500ms ease;
    border-radius: 50%;
    width: 100%;
    max-width: 3rem;
}

.Icon:hover {
    background-color: #ffffff;
}

.Onfire {
    box-shadow: inset 0 0 1em #e25822, 0 0 1em #e25822;
}

.VisualizeScore {
    color: var(--Quizmain-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 15px;
    border: 2px solid var(--Quizsecond-color);
    background: var(--QuizHouver-color);
    width: 100%;
    min-height: 60px;
    max-width: 250px;
}

#Clock {
    display: flex;
    gap: 40px;
    color: var(--Quizmain-color);
}

#Clock .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Clock div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#Clock .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#Clock .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: white;
    stroke-width: 4;
    transform: translate(5px, 5px);
}

#Clock .circle svg circle:nth-child(2) {
    stroke: var(--Quizmain-color);
    stroke-dasharray: 440;
}

#Clock .ap {
    position: relative;
    font: 1em;
    transform: translateX(-20px);
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;

}

.dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background-color: var(--Quizsecond-color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--Quizmain-color),
        0 0 60px var(--Quizmain-color);

}
@media only screen and (max-width: 1300px) {
    .MainCount {
        width: 95%;
    }

    .countent {
        flex-direction: column;
        align-items: inherit;
        padding: 5px;
    }
#Clock{
    margin-top: 20px;

    justify-content: center;
}
    .QuizInformationDiv {
        margin-top: 15px;
        padding-top: 5px;
     text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: inherit;
    }
    .VisualizeScore{
        grid-column:  span 2;
        grid-row-start: 1;
        max-width: inherit;
        font-size: 25px;
    }
    
    .countent p {
        font-size: 34px;
    }

    .QuizTitleText {
        font-size: 35px;
    }

    .QuizTitleTitleText {
        font-size: 70px;
    }

    .Questions button {
        font-size: 28px;
        min-height: 90px;
    }

    .ButtonHover {
        min-height: 90px;
        font-size: 28px;
    }

    .ResultsTextCorrect {
        font-size: 30px;
    }

    .ResultsTextIncorrect {
        font-size: 30px;
    }

    .SelectionOptionAtencion {
        font-size: 30px;
    }

    #Results {
        min-height: 70px;
    }
    .DivChose {
        display: grid;
        grid-template: 1fr;
        row-gap: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .Logo {
        min-width: 200px;
    }
    .QuizTable {
        padding: 10px;
    }
    .QuizTitleTitleText{
        font-size: 50px;
    }
    .countent {
        padding: 5px;
    }
    
    .countent p {
        font-size: 21px;
        font-weight: 700;
    }

    .QuizTitleText {
        font-size: 1.6rem;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .DivCheckAndTry {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .Questions {
        gap: 10px;
    }

    .ResultsTextCorrect {
        font-size: 20px;
    }

    .ResultsTextIncorrect {
        font-size: 20px;
    }

    .SelectionOptionAtencion {
        font-size: 20px;
    }
    #Results {
        min-height: 20px;
    }

    #Start {
        margin-top: 15px;
        min-height: 150px;
        font-size: 30px;
    }

    .Rules h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .Rules h3 {
        font-size: 35px;
        font-weight: 700;
    }

    .Rules p {
        font-size: 25px;
        font-weight: 500;
        text-align: justify;
    }

    .DivChose {
        font-size: 25px;
    }

    label {
        font-size: 28px;
        font-weight: 700;
    }

    input[type=radio]+label:before {
        height: 18px;
        width: 18px;

    }

    .Points {
        margin-bottom: 20px;
    }
    .Answer:hover {
        background-color: inherit;
        color: inherit;
        transform: inherit;
        box-shadow: inherit;
    }
}