@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --nav-color: #3D3A4B;
    --main-color: #D3C0CD;
    --second-color: #E3DFFF;
    --Quizmain-color: #660066;
    --Quizsecond-color: #d580ff;
    --QuizHouver-color: #eabfff;
}



.Nav {
    display: flex;
    align-items: center;
    background: var(--nav-color);
    width: 100%;
    height: 5rem;
}

.Nav h1 {
    padding: 10px;
}

body {
    width: 100%;
    height: 100%;
    background: var(--second-color);
}

.MainCount {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    height: 100%;

}

.QuizTable {
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2%;
    font-family: 'Poppins', sans-serif;
}
.QuizTitle {
    width: 100%;
    height: 100%;
    min-height: 100px;
}

.QuizTitleText {
    padding: 20px;
    text-align: center;
    font-size: 27px;
}

.QuizDifficult {
    font-size: 22px;
}

.Quiztype {
    font-size: 22px;
}

.Questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.Answer {
    margin: 10px;
    width: 90%;
    height: 100%;
    min-height: 60px;
    border: 2px solid var(--Quizmain-color);
    background-color: white;
}

.Questions button {
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 500ms ease;
    font-size: 22px;
}

.Questions button:hover {
    border: 2px solid var(--Quizsecond-color);
    background-color: var(--QuizHouver-color);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.DivCheckAndTry {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    min-height: 80px;
    padding-top: 40px;


}

.DivCheckAndTry button {
    width: 40%;
    min-height: 40px;
}

.Answer {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selected {
    border: 2px solid var(--Quizsecond-color);
    background-color: var(--QuizHouver-color);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.QuizTitleTitleText {
    font-size: 50px;
}

.countent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.ResultsTextCorrect {
    padding-left: 5%;
    color: green;
    font-size: 20px;
}

.ResultsTextIncorrect {
    padding-left: 5%;
    color: red;
    font-size: 20px;
}

.QuestionCorrect {
    padding-left: 5%;
    padding-top: 10px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--Quizmain-color);
}

.SelectionOptionAtencion {
    padding-left: 5%;
    color: red;
    font-size: 20px;
}

#Btnretry {
    display: none;
    border: 2px solid var(--Quizmain-color);
    background-color: var(--QuizHouver-color);
    transition: 500ms ease;
    min-height: 60px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

#Btnretry:hover {
    background-color: var(--Quizmain-color);
    color: white;
}

#BtnCheck {
    border: 2px solid var(--Quizmain-color);
    background-color: var(--QuizHouver-color);
    transition: 500ms ease;
    min-height: 60PX;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

#BtnCheck:hover {
    background-color: var(--Quizmain-color);
    color: white;
}